NODE_ENV=DEV
PORT=3001
CLIENT_ORIGIN=http://localhost:4200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=evinarija
DB_PASSWORD=
DB_NAME=evinarija_app

JWT_SECRET=
JWT_EXPIRES_IN=7d

FILE_STORAGE=./storage/

SENTINEL_HUB_CLIENT_ID=
SENTINEL_HUB_CLIENT_SECRET=

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
