<nav
  [ngClass]="menuService.showSidebar() ? 'w-64 xl:w-72' : 'w-[70px]'"
  class="scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col overflow-auto bg-background pt-2 transition-all duration-300 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted lg:flex"
>
  <div class="px-3">
    <!-- Logo -->
    <div class="flex h-14 items-center">
      <div class="flex flex-1 items-center" *ngIf="menuService.showSidebar()">
        <a (click)="toggle()" class="flex cursor-pointer items-center justify-center rounded-lg p-1 focus:outline-none">
          <img src="assets/logo.svg" class="logo" alt="Vinarija" />
        </a>
      </div>
      <button
        (click)="toggle()"
        class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-lg text-muted-foreground/40 transition-all duration-200 hover:bg-muted hover:text-muted-foreground focus:outline-none"
        [ngClass]="menuService.showSidebar() ? 'ml-auto' : 'mx-auto rotate-180'"
      >
        <svg-icon src="assets/icons/heroicons/solid/chevron-double-left.svg" [svgClass]="'h-4 w-4'"></svg-icon>
      </button>
    </div>

    <!-- Separator -->
    <div class="pb-2">
      <hr class="border-border/50" />
    </div>

    <!-- Menu Items -->
    <app-sidebar-menu></app-sidebar-menu>
  </div>
</nav>
