<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>

@if (config) {
  <div class="dynamic-table-wrapper">
    <div class="empty-overlay" *ngIf="!loading && rows.length === 0">
      <div class="empty-state">
        <img src="assets/icons/no-data.png" class="empty-state-img" alt="" />
        <span class="empty-state-label">{{ 'general.noData' | translate }}</span>
      </div>
    </div>
    <p-table
    #dt
    [value]="rows"
    [loading]="loading"
    [dataKey]="config.dataKey"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [globalFilterFields]="globalFilterFields"
    [scrollable]="true"
    [scrollHeight]="tableHeight"
    [tableStyle]="{ 'min-width': '100%' }"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <!-- Desktop: sve u jednom redu -->
      <div class="caption caption-big">
        @if (config.save) {
          <button pButton icon="pi pi-plus" class="custom-button" [label]="'general.addNew' | translate" (click)="createNewEntry()"></button>
        }

        <div class="global-search ml-2 mr-2">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" [placeholder]="'general.searchPlaceholder' | translate" (input)="onGlobalFilter($event)" />
          </p-iconfield>
        </div>

        <div class="flex items-center">
          <button
            pButton
            type="button"
            [outlined]="true"
            icon="pi pi-refresh"
            class="mr-2 custom-button"
            (click)="loadData()"
            [pTooltip]="'general.refresh' | translate"
            tooltipPosition="top"
          ></button>

          <button pButton type="button" [outlined]="true" class="custom-button" [label]="'general.options' | translate" iconPos="right" icon="pi pi-chevron-down" (click)="optionsMenu.toggle($event)"></button>
          <p-menu #optionsMenu [popup]="true" [model]="optionsMenuItems" appendTo="body"></p-menu>
        </div>
      </div>

      <!-- Mobilni: preloženo u dva reda -->
      <div class="caption-small">
        <div class="caption">
          <div>
            @if (config.save) {
              <button pButton icon="pi pi-plus" class="custom-button" [label]="'general.addNew' | translate" (click)="createNewEntry()"></button>
            }
          </div>
          <div class="flex items-center">
            <button
              pButton
              type="button"
              [outlined]="true"
              icon="pi pi-refresh"
              class="mr-2 custom-button"
              (click)="loadData()"
              [pTooltip]="'general.refresh' | translate"
              tooltipPosition="top"
            ></button>
            <button pButton type="button" [outlined]="true" class="custom-button" [label]="'general.options' | translate" iconPos="right" icon="pi pi-chevron-down" (click)="optionsMenuSmall.toggle($event)"></button>
            <p-menu #optionsMenuSmall [popup]="true" [model]="optionsMenuItems" appendTo="body"></p-menu>
          </div>
        </div>
        <div class="caption mt-3">
          <div class="global-search m-0">
            <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon styleClass="pi pi-search" />
              <input pInputText type="text" [placeholder]="'general.searchPlaceholder' | translate" (input)="onGlobalFilter($event)" />
            </p-iconfield>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        @if (hasRowActions) {
          <th class="row-actions-col"></th>
        }
        @for (col of dataColumns; track col.field) {
          <th>
            {{ col.title | translate }}
            <p-columnFilter [field]="col.field" [type]="filterTypeFor(col)" display="menu"></p-columnFilter>
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        @if (hasRowActions) {
          <td class="row-actions-col">
            <button type="button" class="row-actions-kebab" (click)="openRowMenu($event, row)">
              <i class="pi pi-ellipsis-v"></i>
            </button>
          </td>
        }
        @for (col of dataColumns; track col.field) {
          <td>{{ formatValue(row, col) }}</td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="empty" [attr.colspan]="dataColumns.length + (hasRowActions ? 1 : 0)"></td>
      </tr>
    </ng-template>
    </p-table>
  </div>

  <p-menu #rowActionMenu [popup]="true" [model]="rowMenuItems" appendTo="body"></p-menu>

  <p-dialog
    [(visible)]="dialogVisible"
    [modal]="true"
    [style]="{
      width: config.dialogWidth || '32rem',
      'max-height': '90vh',
      display: 'flex',
      'flex-direction': 'column'
    }"
    [contentStyle]="{
      overflow: 'hidden',
      padding: '0',
      display: 'flex',
      'flex-direction': 'column',
      flex: '1',
      'min-height': '0'
    }"
    [header]="(isEdit ? config.dialogTitleEdit || 'general.edit' : config.dialogTitleCreate || 'general.addNew') | translate"
  >
    @if (dialogVisible && config.fields) {
      <app-dynamic-forms [fields]="config.fields" [data]="editingRow" [isEdit]="isEdit" (save)="onFormSave($event)" (cancel)="onFormCancel()"></app-dynamic-forms>
    }
  </p-dialog>
}
